@import url("https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap");
@import url("https://fonts.googleapis.com/css?family=Montserrat:100");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #1d1d1d;
  color: #f5f5f5;
  font-family: 'Montserrat', sans-serif;
}

.entrance-page {
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
  height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 1;
}

.entrance-page:hover {
  text-decoration: none;
}

.entrance-page__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.entrance-page__wrapper img {
  width: auto;
  height: 80vh;
  padding: 50px 0px;
}

.entrance-page__wrapper--animation {
  color: #f5f5f5;
  font-weight: 900;
  font-size: 14px;
  letter-spacing: 1em;
  text-transform: uppercase;
  display: inline-block;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  padding-left: 12px;
}

.footer-container {
  border-top: 0.1px solid #7b7b7b36;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: auto;
}

.footer-container__card {
  -webkit-box-flex: 33.33%;
      -ms-flex: 33.33%;
          flex: 33.33%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding: 30px;
}

.footer-container__card p {
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 6px;
  color: #b3b3b3;
}

.footer-container__card p a {
  text-decoration: none;
  color: #b3b3b3;
}

.footer-container__card p a:hover {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.925);
}

.footer-container__card p:first-child {
  font-weight: 800;
  text-transform: uppercase;
}

.footer-container__card a {
  margin-bottom: 16px;
}

.footer-container__card a:hover {
  text-decoration: none;
  color: transparent;
}

.footer-container__card .footer-container__card--social-media {
  padding: 0px 5px 0px 5px;
  display: inline-block;
  text-align: center;
}

.footer-container__card .footer-container__card--social-media img:hover {
  text-decoration: none;
  color: transparent;
}

.footer-container__card p:last-child a {
  color: #b3b3b3e7;
}

.footer-container__card p:last-child a:hover {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.925);
}

.footer-container__logo {
  padding-bottom: 20px;
}

.footer-bottom__title {
  color: rgba(255, 255, 255, 0.925);
  text-align: center;
  text-transform: uppercase;
  font-size: 10px;
  letter-spacing: 0.1em;
  padding-top: 15px;
}

.about {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px 50px 0px 50px;
  margin-bottom: 80px;
}

.about h2 {
  width: 30%;
  font-size: 18px;
  margin-bottom: 0px;
}

.about p:first-of-type {
  padding-bottom: 25px;
  font-style: italic;
  font-size: 14px;
}

.about p {
  width: 30%;
  font-size: 12px;
}

.scroll-container {
  width: 50px;
  height: 50px;
  position: -webkit-sticky;
  position: sticky;
  bottom: 10%;
  left: 49%;
  background-color: transparent;
}

.scroll-container.hidden {
  visibility: hidden;
}

.scroll-container__arrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 25px;
  height: 50px;
  background-color: transparent;
}

.scroll-container__arrow span {
  width: 25px;
  height: 25px;
  background-color: transparent;
  border-bottom: 6px solid white;
  border-right: 6px solid white;
  -webkit-animation: jump-animation 1.5s alternate infinite, opacity-animation 1.5s alternate infinite;
          animation: jump-animation 1.5s alternate infinite, opacity-animation 1.5s alternate infinite;
}

@-webkit-keyframes opacity-animation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes opacity-animation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes jump-animation {
  0% {
    -webkit-transform: translateY(-10px) rotate(45deg);
            transform: translateY(-10px) rotate(45deg);
  }
  100% {
    -webkit-transform: translateY(0px) rotate(45deg);
            transform: translateY(0px) rotate(45deg);
  }
}

@keyframes jump-animation {
  0% {
    -webkit-transform: translateY(-10px) rotate(45deg);
            transform: translateY(-10px) rotate(45deg);
  }
  100% {
    -webkit-transform: translateY(0px) rotate(45deg);
            transform: translateY(0px) rotate(45deg);
  }
}

@media screen and (max-width: 980px) {
  .about h2 {
    width: 50%;
  }
  .about p {
    width: 50%;
  }
  .entrance-page__wrapper img {
    width: auto;
    height: 80vh;
    padding: 40px 0px;
  }
}

@media screen and (max-width: 570px) {
  .footer-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer-container__card {
    -webkit-box-flex: 100%;
        -ms-flex: 100%;
            flex: 100%;
  }
  .footer-container__card a:first-child {
    margin: 0px;
  }
  .footer-container__card .footer-bottom__title {
    padding-top: 5px;
  }
}

@media screen and (max-width: 370px) {
  .about h2 {
    width: 70%;
  }
  .about p {
    width: 70%;
  }
}
/*# sourceMappingURL=style.css.map */